# Uso inductorio de Python

- input(): asigna/lee/imprime
- print(): imprimir lo que se encuentra dentro de los paréntesis
- type(): identifica el tipo de dato ingresado entre paréntesis
- \n: genera una nueva línea

# Estructura de selección
La estructura de selección se realiza con el comando "if"

## Estructura if
if (condición): la condición debe ser verdadera si se desea que pase algo
if TRUE:

## Estructura ternaria del if
Se cumple la condición **if** condición **else** si no se cumple la condición

In [ ]:
#Determinar si un número es par o impar
num=int(input("Ingrese un número: "))
if num%2==0:
  print(f"{num} es par")
else:
  print(f"{num} es impar")

In [ ]:
num=int(input("Ingrese un número: "))
print(f"{num} es par") if num%2==0 else print(f"{num} es impar")

In [ ]:
a=input("Hola, cómo te llamas? ")

In [ ]:
a

In [ ]:
type(a)

In [ ]:
# Concatenando tipos diferentes de datos
año= input("Hola "+a+". Cuántos años tienes?")

In [ ]:
altura= input(f"{a}, Cuánto mides?")

In [ ]:
print(f"{a} tiene\n{año} años\n{altura}")

In [ ]:
print(f"Datos de {a}:")
print(f"Tiene {año} años:")
print(f"Mide {altura}:")

In [ ]:
base=float(input("Ingresa la base del triángulo: \nIngresa la altura del triángulo: "))
altura=float(input("Ingresa la altura del triángulo: "))
print(f"El área del triángulo es: ", {base*altura/2})

Ingresa la base del triángulo:
Ingresa la altura del triángulo: 14
Ingresa la altura del triángulo: 2
El área del triángulo es:  {14.0}

In [ ]:
type(base)

float

In [ ]:
base*3

42.0